/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App .page-content {
  font-size: 2em; 
  text-align: left; 
  margin: 0 10%; 
  line-height: 2; 
} 

.scroll-to-top {
  position: fixed;
  bottom: 110px; /* Adjust this value as needed to position above the footer */
  right: 30px; /* Adjust this value as needed */
  padding: 10px 20px;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: #575757;
}
